{% extends "layout.html" %}



{% block content %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand">Fynd-Result</a>
    <a href="/login" type="button" class="btn btn-outline-info btn-sm mx-1">Admin Login</button></a>
  </div>
</nav>

<br>
<br>
<br>
<h1><center><u>Home page</u></center></h1>
<br>
<br>
<br>
<div class="p-3 mb-2 bg-dark text-white">
    <form method="post" action="http://localhost:5000/">
        <label for="rollno">Enter Roll no :</label> 
        <input type="number" name="rollno" required>

        <input type="submit" class="btn btn-success" name="submit"></button>
    </form>


    <div>
      <p><strong>{{msg}}</strong></p>

    </div>
  </div>


{% endblock %}