{% extends "layout.html" %}

{% block content %}

<h1><center><u>Admin Login</u></center></h1>
<br>
<br>
<br>
  <div class="p-3 mb-2 bg-dark text-white">

    <form method="post" action="">
        <label for="username">Enter Username</label> 
        <input type="text" name="username" required>
        <br>
        <label for="password">Enter password</label> 
        <input type="password" name="password" required>
        <br>
        <input type="submit" class="btn btn-success" name="submit"></button>
    </form>

    {% if failed %}
    <div>
      <p><strong>Incorrect Username or Password</strong></p>

    </div>
    {% endif %}

  </div>
{% endblock %}